


#health{  color:red; border-radius:2px
}

#comedy{ color:aqua;border-radius: 2px

 }

 #news { color:#297; border-radius:2px

 }

 #religion{color:#318;border-radius:2px

 }

 #music{color:brown;border-radius:2px

 }

 	